.box {
  width: 960px;
  border-top: dotted #ccc 1px;
  border-bottom: dotted #ccc 1px;
  margin: 30px auto;
}

.article {
  width: 720px;
  margin-top: 60px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  padding: 20px;
}

.article img {
  width: 920px;
  padding: 20px;
}

.article span {
  margin-right: 20px;
}

.article h3 {
  text-align: center;
  margin: 50px 0;
}
