.box {
  padding: 0 10px;
  width: 300px;
  min-height: 360px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.text {
  font-size: 12px;
  line-height: 30px;
}

.title {
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  border-bottom: dotted #ccc 1px;
  margin-bottom: 10px;
}
