.detail {
  margin: auto;
  padding: 30px 0;
  width: 960px;
}

.article {
  font-size: 12px;
  padding: 20px;
  min-height: 360px;
}

.article a {
  font-size: 14px;
  line-height: 32px;
  color: #666;
}

.viewNum {
  float: right;
  color: #999;
}

.viewNum span {
  width: 40px;
  display: inline-block;
  text-align: center;
}
