.newsBox {
  width: 960px;
  margin: auto;
  text-align: center;
  position: relative;
}

.tabs {
  width: 450px;
  padding: 30px 20px 20px;
  margin: 10px;
  border-radius: 10px;
  border: solid #ccc 1px;
  display: inline-block;
  vertical-align: top;
  float: none;
}

.tab {
  height: 50px;
}

.others {
  width: 450px;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.star {
  margin: 0 10px;
  height: 120px;
  width: 100%;
  background: #ccc;
  vertical-align: top;
  text-align: center;
}

.star img {
  width: 80px;
  height: 80px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
}

.star p {
  margin: 0;
  padding: 0 20px;
  line-height: 120px;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}

.wonder img {
  width: 200px;
  height: 150px;
  margin: 20px 10px;
}

.tabTitle {
  position: absolute;
  top: 20px;
  left: 18px;
}

.tabTitle img {
  width: 40px;
  margin: 0 14px;
}

.tabTitle .tabL {
  width: 48px;
}
