.box {
  width: 100%;
  min-height: 200px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.text {
  font-size: 14px;
  line-height: 30px;
  color: #666;
  white-space: nowrap;
  overflow-x: hidden;
}
