.navBar {
  height: 100px;
  width: 100%;
  background: rgba(0, 0, 100, 0.6);
  position: fixed;
  top: 0;
  z-index: 999;
}

.logo {
  width: 100px;
  height: 100px;
  padding: 14px;
  margin-left: 100px;
  display: inline-block;
  vertical-align: top;
}

.titleBox {
  min-width: 280px;
  height: 100px;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
}

.title {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 18px;
  line-height: 30px;
}

.english {
  font-size: 15px;
}
